@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    *, *::before, *::after {
        transition: color 250ms, background-color 250ms, max-height 250ms;
    }

    ::-webkit-search-cancel-button {
        display: none;
    }

    .my-masonry-grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: -30px;
        width: auto;
    }
    
    .my-masonry-grid_column {
        padding-left: 30px;
        background-clip: padding-box;
    }
    
    .my-masonry-grid_column > div {
        margin-bottom: 30px;
    }
    
    .spaceX {
        @apply px-4 md:px-10 lg:px-16
    }

    .spaceY {
        @apply py-6 md:py-8
    }

    .sectionX {
        @apply px-2 md:px-5 lg:px-8
    }

    .sectionY {
        @apply py-3 md:py-4 lg:py-5
    }

    .data__header {
        @apply text-xs text-dominant dark:text-dark-dominant font-medium
    }

    .data__row {
        @apply text-xs text-dominant dark:text-dark-dominant font-medium
    }

}